<a href="https://colab.research.google.com/github/Azariagmt/Telecom-Analysis/blob/notebooks/notebooks/TA_Data_cleaning_and_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Get Datasets

In [1]:
!gdown "https://drive.google.com/uc?id=1o_4xA2urNdOQzu6HeZHkbtWAPC8X_o1o"
# https://drive.google.com/file/d/1o_4xA2urNdOQzu6HeZHkbtWAPC8X_o1o/view?usp=sharing
!gdown "https://drive.google.com/uc?id=1R-3v_Of69tuUVGaouMsCiTFRRXkoLB03"
# https://drive.google.com/file/d/1R-3v_Of69tuUVGaouMsCiTFRRXkoLB03/view?usp=sharing

Downloading...
From: https://drive.google.com/uc?id=1o_4xA2urNdOQzu6HeZHkbtWAPC8X_o1o
To: /content/Week1_challenge_data_source.xlsx
62.1MB [00:01, 61.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=1R-3v_Of69tuUVGaouMsCiTFRRXkoLB03
To: /content/Field Descriptions.xlsx
100% 9.78k/9.78k [00:00<00:00, 7.78MB/s]

In [2]:
import pandas as pd
df = pd.read_excel('Week1_challenge_data_source.xlsx')
features_df = pd.read_excel('/content/Field Descriptions.xlsx')

In [3]:
pd.set_option('display.max_colwidth', -1)
features_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

                                      Fields                                                                          Description
0   bearer id                                 xDr session identifier
1   Dur. (ms)                                 Total Duration of the xDR (in ms)
2   Start                                     Start time of the xDR (first frame timestamp)
3   Start ms                                  Milliseconds offset of start time for the xDR (first frame timestamp)
4   End                                       End time of the xDR (last frame timestamp)
5   End ms                                    Milliseconds offset of end time of the xDR (last frame timestamp)
6   Dur. (s)                                  Total Duration of the xDR (in s)
7   IMSI                                      International Mobile Subscriber Identity
8   MSISDN/Number                             MS International PSTN/ISDN Number of mobile - customer number
9   IMEI                                      International Mobile Equipment Identity
10  Last Location Name                        User location call name (2G/3G/4G) at the end of the bearer
11  Avg RTT DL (ms)                           Average Round Trip Time measurement Downlink direction (msecond)
12  Avg RTT UL (ms)                           Average Round Trip Time measurement Uplink direction (msecond)
13  Avg Bearer TP DL (kbps)                   Average Bearer Throughput for Downlink (kbps) - based on BDR duration
14  Avg Bearer TP UL (kbps)                   Average Bearer Throughput for uplink (kbps) - based on BDR duration
15  TCP DL Retrans. Vol (Bytes)               TCP volume of Downlink packets detected as retransmitted (bytes)
16  TCP UL Retrans. Vol (Bytes)               TCP volume of Uplink packets detected as retransmitted (bytes)
17  DL TP < 50 Kbps (%)                       Duration ratio when Bearer Downlink Throughput < ….
18  50 Kbps < DL TP < 250 Kbps (%)            Duration ratio when Bearer Downlink Throughput range is …
19  250 Kbps < DL TP < 1 Mbps (%)             Duration ratio when Bearer Downlink Throughput range is …
20  DL TP > 1 Mbps (%)                        Duration ratio when Bearer Downlink Throughput > ….
21  UL TP < 10 Kbps (%)                       Duration ratio when Bearer Uplink Throughput < ….
22  10 Kbps < UL TP < 50 Kbps (%)             Duration ratio when Bearer Uplink Throughput range is …
23  50 Kbps < UL TP < 300 Kbps (%)            Duration ratio when Bearer Uplink Throughput range is …
24  UL TP > 300 Kbps (%)                      Duration ratio when Bearer Uplink Throughput > ….
25  HTTP DL (Bytes)                           HTTP data volume (in Bytes) received by the MS during this session
26  HTTP UL (Bytes)                           HTTP data volume (in Bytes) sent by the MS during this session
27  Activity Duration DL (ms)                 Activity Duration for downlink (ms) - excluding periods of inactivity > 500 ms
28  Activity Duration UL (ms)                 Activity Duration for uplink (ms) - excluding periods of inactivity > 500 ms
29  Dur. (ms).1                               Total Duration of the xDR (in ms)
30  Handset Manufacturer                      Handset manufacturer
31  Handset Type                              Handset type of the mobile device
32  Nb of sec with 125000B < Vol DL           Number of seconds with IP Volume DL >
33  Nb of sec with 1250B < Vol UL < 6250B     Number of seconds with IP Volume UL between …
34  Nb of sec with 31250B < Vol DL < 125000B  Number of seconds with IP Volume DL between …
35  Nb of sec with 37500B < Vol UL            Number of seconds with IP Volume UL >
36  Nb of sec with 6250B < Vol DL < 31250B    Number of seconds with IP Volume DL between …
37  Nb of sec with 6250B < Vol UL < 37500B    Number of seconds with IP Volume UL between …
38  Nb of sec with Vol DL < 6250B             Number of seconds with IP Volume DL <
39  Nb of sec with Vol UL < 1250B             Number of seconds with IP Volume UL <
40  Social Media DL (Bytes)                   Social Media data volume (in Bytes) received by the MS during this session
41  Social Media UL (Bytes)                   Social Media data volume (in Bytes) sent by the MS during this session
42  YouTube DL (Bytes)                        YouTube data volume (in Bytes) received by the MS during this session
43  YouTube UL (Bytes)                        YouTube data volume (in Bytes) sent by the MS during this session
44  Netflix DL (Bytes)                        Netflix data volume (in Bytes) received by the MS during this session
45  Netflix UL (Bytes)                        Netflix data volume (in Bytes) sent by the MS during this session
46  Google DL (Bytes)                         Google data volume (in Bytes) Received by the MS during this session
47  Google UL (Bytes)                         Google data volume (in Bytes) sent by the MS during this session
48  Email DL (Bytes)                          Email data volume (in Bytes) Received by the MS during this session
49  Email UL (Bytes)                          Email data volume (in Bytes) sent by the MS during this session
50  Gaming DL (Bytes)                         Gaming data volume (in Bytes) Received by the MS during this session
51  Gaming UL (Bytes)                         Gaming data volume (in Bytes) sent by the MS during this session
52  Other DL                                  Other data volume (in Bytes) received by the MS during this session
53  Other UL                                  Other data volume (in Bytes) sent by the MS during this session
54  Total DL (Bytes)                          Data volume (in Bytes) received by the MS during this session (IP layer + overhead)
55  Total UL (Bytes)                          Data volume (in Bytes) sent by the MS during this session (IP layer + overhead)

In [6]:
df.head()

              Bearer Id               Start  ...  Total UL (Bytes) Total DL (Bytes)
0  13114483460844900352 2019-04-04 12:01:18  ...  36749741.0        308879636.0
1  13114483482878900224 2019-04-09 13:04:04  ...  53800391.0        653384965.0
2  13114483484080500736 2019-04-09 17:42:11  ...  27883638.0        279807335.0
3  13114483485442799616 2019-04-10 00:31:25  ...  43324218.0        846028530.0
4  13114483499480700928 2019-04-12 20:10:23  ...  38542814.0        569138589.0

[5 rows x 55 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  object
 1   Start                                     150000 non-null  datetime64[ns]
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  datetime64[ns]
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(49), object(4)
memory usage: 62.9+ MB

In [106]:
import numpy as np
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The telecommunication dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(df)

The telecommunication dataset contains 12.05 % missing values.

In [107]:
df.shape

(150001, 57)

In [108]:
df.isnull().sum()

Bearer Id                                   0
Start                                       1
Start ms                                    1
End                                         1
End ms                                      1
Dur. (ms)                                   1
IMSI                                        570
MSISDN/Number                               1066
IMEI                                        572
Last Location Name                          1153
Avg RTT DL (ms)                             27829
Avg RTT UL (ms)                             27812
Avg Bearer TP DL (kbps)                     1
Avg Bearer TP UL (kbps)                     1
TCP DL Retrans. Vol (Bytes)                 88146
TCP UL Retrans. Vol (Bytes)                 96649
DL TP < 50 Kbps (%)                         754
50 Kbps < DL TP < 250 Kbps (%)              754
250 Kbps < DL TP < 1 Mbps (%)               754
DL TP > 1 Mbps (%)                          754
UL TP < 10 Kbps (%)                         792
10 Kbps < UL TP < 50 Kbps (%)               792
50 Kbps < UL TP < 300 Kbps (%)              792
UL TP > 300 Kbps (%)                        792
HTTP DL (Bytes)                             81474
HTTP UL (Bytes)                             81810
Activity Duration DL (ms)                   1
Activity Duration UL (ms)                   1
Dur. (ms).1                                 1
Handset Manufacturer                        572
Handset Type                                572
Nb of sec with 125000B < Vol DL             97538
Nb of sec with 1250B < Vol UL < 6250B       92894
Nb of sec with 31250B < Vol DL < 125000B    93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B      88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B               755
Nb of sec with Vol UL < 1250B               793
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            1
Total DL (Bytes)                            1
difference                                  1
duration                                    1
dtype: int64

### Handling missing values

In [109]:
# drop columns missing values greater than 50%
cols_missing_large_value = ['TCP DL Retrans. Vol (Bytes)','TCP UL Retrans. Vol (Bytes)','HTTP DL (Bytes)', 'HTTP UL (Bytes)','Nb of sec with 125000B < Vol DL','Nb of sec with 1250B < Vol UL < 6250B', 'Nb of sec with 31250B < Vol DL < 125000B','Nb of sec with 37500B < Vol UL','Nb of sec with 6250B < Vol DL < 31250B', 'Nb of sec with 6250B < Vol UL < 37500B']
df_clean = df.drop(cols_missing_large_value, axis=1)
df_clean.shape

(150001, 47)

In [110]:
# fill missing with ffill method for columns (diag_1, diag_2, diag_3)

def fix_missing_ffill(df, col):
    df[col] = df[col].fillna(method='ffill')
    return df[col]


def fix_missing_bfill(df, col):
    df[col] = df[col].fillna(method='bfill')
    return df[col]

In [111]:
df_clean.dtypes

Bearer Id                         object
Start                             datetime64[ns]
Start ms                          float64
End                               datetime64[ns]
End ms                            float64
Dur. (ms)                         float64
IMSI                              float64
MSISDN/Number                     float64
IMEI                              float64
Last Location Name                object
Avg RTT DL (ms)                   float64
Avg RTT UL (ms)                   float64
Avg Bearer TP DL (kbps)           float64
Avg Bearer TP UL (kbps)           float64
DL TP < 50 Kbps (%)               float64
50 Kbps < DL TP < 250 Kbps (%)    float64
250 Kbps < DL TP < 1 Mbps (%)     float64
DL TP > 1 Mbps (%)                float64
UL TP < 10 Kbps (%)               float64
10 Kbps < UL TP < 50 Kbps (%)     float64
50 Kbps < UL TP < 300 Kbps (%)    float64
UL TP > 300 Kbps (%)              float64
Activity Duration DL (ms)         float64
Activity Duration UL (ms)         float64
Dur. (ms).1                       float64
Handset Manufacturer              object
Handset Type                      object
Nb of sec with Vol DL < 6250B     float64
Nb of sec with Vol UL < 1250B     float64
Social Media DL (Bytes)           float64
Social Media UL (Bytes)           float64
Google DL (Bytes)                 float64
Google UL (Bytes)                 float64
Email DL (Bytes)                  float64
Email UL (Bytes)                  float64
Youtube DL (Bytes)                float64
Youtube UL (Bytes)                float64
Netflix DL (Bytes)                float64
Netflix UL (Bytes)                float64
Gaming DL (Bytes)                 float64
Gaming UL (Bytes)                 float64
Other DL (Bytes)                  float64
Other UL (Bytes)                  float64
Total UL (Bytes)                  float64
Total DL (Bytes)                  float64
difference                        timedelta64[ns]
duration                          float64
dtype: object

In [112]:
df_clean.isnull().sum()

Bearer Id                         0
Start                             1
Start ms                          1
End                               1
End ms                            1
Dur. (ms)                         1
IMSI                              570
MSISDN/Number                     1066
IMEI                              572
Last Location Name                1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)           1
Avg Bearer TP UL (kbps)           1
DL TP < 50 Kbps (%)               754
50 Kbps < DL TP < 250 Kbps (%)    754
250 Kbps < DL TP < 1 Mbps (%)     754
DL TP > 1 Mbps (%)                754
UL TP < 10 Kbps (%)               792
10 Kbps < UL TP < 50 Kbps (%)     792
50 Kbps < UL TP < 300 Kbps (%)    792
UL TP > 300 Kbps (%)              792
Activity Duration DL (ms)         1
Activity Duration UL (ms)         1
Dur. (ms).1                       1
Handset Manufacturer              572
Handset Type                      572
Nb of sec with Vol DL < 6250B     755
Nb of sec with Vol UL < 1250B     793
Social Media DL (Bytes)           0
Social Media UL (Bytes)           0
Google DL (Bytes)                 0
Google UL (Bytes)                 0
Email DL (Bytes)                  0
Email UL (Bytes)                  0
Youtube DL (Bytes)                0
Youtube UL (Bytes)                0
Netflix DL (Bytes)                0
Netflix UL (Bytes)                0
Gaming DL (Bytes)                 0
Gaming UL (Bytes)                 0
Other DL (Bytes)                  0
Other UL (Bytes)                  0
Total UL (Bytes)                  1
Total DL (Bytes)                  1
difference                        1
duration                          1
dtype: int64

In [113]:
features_to_not_be_null = ['Start', 'IMEI', 'IMSI','MSISDN/Number']
for feature in features_to_not_be_null:
  df_clean = df_clean[df_clean[feature].notnull()]

In [114]:
df_clean.isnull().sum()

Bearer Id                         0
Start                             0
Start ms                          0
End                               0
End ms                            0
Dur. (ms)                         0
IMSI                              0
MSISDN/Number                     0
IMEI                              0
Last Location Name                589
Avg RTT DL (ms)                   27644
Avg RTT UL (ms)                   27625
Avg Bearer TP DL (kbps)           0
Avg Bearer TP UL (kbps)           0
DL TP < 50 Kbps (%)               720
50 Kbps < DL TP < 250 Kbps (%)    720
250 Kbps < DL TP < 1 Mbps (%)     720
DL TP > 1 Mbps (%)                720
UL TP < 10 Kbps (%)               767
10 Kbps < UL TP < 50 Kbps (%)     767
50 Kbps < UL TP < 300 Kbps (%)    767
UL TP > 300 Kbps (%)              767
Activity Duration DL (ms)         0
Activity Duration UL (ms)         0
Dur. (ms).1                       0
Handset Manufacturer              0
Handset Type                      0
Nb of sec with Vol DL < 6250B     721
Nb of sec with Vol UL < 1250B     768
Social Media DL (Bytes)           0
Social Media UL (Bytes)           0
Google DL (Bytes)                 0
Google UL (Bytes)                 0
Email DL (Bytes)                  0
Email UL (Bytes)                  0
Youtube DL (Bytes)                0
Youtube UL (Bytes)                0
Netflix DL (Bytes)                0
Netflix UL (Bytes)                0
Gaming DL (Bytes)                 0
Gaming UL (Bytes)                 0
Other DL (Bytes)                  0
Other UL (Bytes)                  0
Total UL (Bytes)                  0
Total DL (Bytes)                  0
difference                        0
duration                          0
dtype: int64

In [115]:
def count_unique(feature):
  print(f'{feature} has {df[feature].nunique()} unique values')

In [116]:
for col in df_clean.columns:
  count_unique(col)

Bearer Id has 134709 unique values
Start has 111881 unique values
Start ms has 1000 unique values
End has 100962 unique values
End ms has 1000 unique values
Dur. (ms) has 89525 unique values
IMSI has 107265 unique values
MSISDN/Number has 106856 unique values
IMEI has 107270 unique values
Last Location Name has 45547 unique values
Avg RTT DL (ms) has 2130 unique values
Avg RTT UL (ms) has 722 unique values
Avg Bearer TP DL (kbps) has 41753 unique values
Avg Bearer TP UL (kbps) has 14528 unique values
DL TP < 50 Kbps (%) has 100 unique values
50 Kbps < DL TP < 250 Kbps (%) has 84 unique values
250 Kbps < DL TP < 1 Mbps (%) has 73 unique values
DL TP > 1 Mbps (%) has 85 unique values
UL TP < 10 Kbps (%) has 98 unique values
10 Kbps < UL TP < 50 Kbps (%) has 85 unique values
50 Kbps < UL TP < 300 Kbps (%) has 68 unique values
UL TP > 300 Kbps (%) has 63 unique values
Activity Duration DL (ms) has 102560 unique values
Activity Duration UL (ms) has 106292 unique values
Dur. (ms).1 has 122871 unique values
Handset Manufacturer has 170 unique values
Handset Type has 1396 unique values
Nb of sec with Vol DL < 6250B has 22270 unique values
Nb of sec with Vol UL < 1250B has 22976 unique values
Social Media DL (Bytes) has 146856 unique values
Social Media UL (Bytes) has 59078 unique values
Google DL (Bytes) has 149024 unique values
Google UL (Bytes) has 147267 unique values
Email DL (Bytes) has 146916 unique values
Email UL (Bytes) has 138699 unique values
Youtube DL (Bytes) has 149547 unique values
Youtube UL (Bytes) has 149477 unique values
Netflix DL (Bytes) has 149518 unique values
Netflix UL (Bytes) has 149490 unique values
Gaming DL (Bytes) has 149983 unique values
Gaming UL (Bytes) has 149316 unique values
Other DL (Bytes) has 149986 unique values
Other UL (Bytes) has 149284 unique values
Total UL (Bytes) has 149728 unique values
Total DL (Bytes) has 149987 unique values
difference has 89519 unique values
duration has 89519 unique values

In [117]:
df_clean.describe()

        Start ms     End ms  ...                 difference     duration
count 148,935.00 148,935.00  ...  148935                    148,935.00
mean  499.25     498.68      ...  1 days 05:07:50.708557426 104,870.71
std   288.56     288.09      ...  0 days 22:31:03.419319362 81,063.42
min   0.00       0.00        ...  0 days 01:59:03           7,143.00
25%   250.00     251.00      ...  0 days 16:04:44           57,884.00
50%   499.00     500.00      ...  1 days 00:00:00           86,400.00
75%   749.00     750.00      ...  1 days 12:51:40.500000    132,700.50
max   999.00     999.00      ...  21 days 12:28:57          1,859,337.00

[8 rows x 41 columns]

In [118]:
def fix_missing_mean(df, col):
    df[col] = df[col].fillna(df[col].mean())
    return df[col]

def fix_missing_median(df, col):
    df[col] = df[col].fillna(df[col].median())  
    return df[col]

def fix_missing_mode(df, col):
    df[col] = df[col].fillna(df_clean[col].mode()[0])
    return df[col]

In [119]:
df_clean["Last Location Name"] = fix_missing_mode(df_clean,"Last Location Name")
missing_columns = ["Avg RTT DL (ms)",
                   "Avg RTT UL (ms)",
                   "DL TP < 50 Kbps (%)",
                   "50 Kbps < DL TP < 250 Kbps (%)",
                   "250 Kbps < DL TP < 1 Mbps (%)",
                   "DL TP > 1 Mbps (%)",
                   "UL TP < 10 Kbps (%)",
                   "10 Kbps < UL TP < 50 Kbps (%)",
                   "50 Kbps < UL TP < 300 Kbps (%)",
                   "UL TP > 300 Kbps (%)",
                   "Nb of sec with Vol DL < 6250B",
                   "Nb of sec with Vol UL < 1250B"]

for i in missing_columns:
    df_clean[i] = fix_missing_median(df_clean, i)

#### Session duration

In [120]:
# df = df['Start','Start ms'].apply(pd.to_timedelta)
df_clean.dtypes
df_clean.index = pd.to_datetime(df_clean.index)
# df_clean.index.to_pydatetime()
df_clean['difference'] = (df_clean['End']- df_clean['Start'])

In [121]:
df_clean['difference']
# df['difference'].total_seconds()

1970-01-01 00:00:00.000000000   21 days 02:34:13
1970-01-01 00:00:00.000000001   15 days 19:11:44
1970-01-01 00:00:00.000000002   15 days 18:16:02
1970-01-01 00:00:00.000000003   15 days 07:05:10
1970-01-01 00:00:00.000000004   12 days 14:30:09
                                      ...
1970-01-01 00:00:00.000149995   0 days 16:33:08
1970-01-01 00:00:00.000149996   0 days 22:33:51
1970-01-01 00:00:00.000149997   1 days 03:12:51
1970-01-01 00:00:00.000149998   1 days 03:17:29
1970-01-01 00:00:00.000149999   1 days 03:11:51
Name: difference, Length: 148935, dtype: timedelta64[ns]

In [122]:
import numpy as np
df_clean[:30]['difference'] / np.timedelta64(1, 's')

1970-01-01 00:00:00.000000000   1,823,653.00
1970-01-01 00:00:00.000000001   1,365,104.00
1970-01-01 00:00:00.000000002   1,361,762.00
1970-01-01 00:00:00.000000003   1,321,510.00
1970-01-01 00:00:00.000000004   1,089,009.00
1970-01-01 00:00:00.000000005   1,074,638.00
1970-01-01 00:00:00.000000006   1,035,262.00
1970-01-01 00:00:00.000000007   951,293.00
1970-01-01 00:00:00.000000008   941,634.00
1970-01-01 00:00:00.000000009   864,482.00
1970-01-01 00:00:00.000000010   848,637.00
1970-01-01 00:00:00.000000011   889,835.00
1970-01-01 00:00:00.000000012   850,766.00
1970-01-01 00:00:00.000000013   812,508.00
1970-01-01 00:00:00.000000014   777,888.00
1970-01-01 00:00:00.000000015   780,471.00
1970-01-01 00:00:00.000000016   767,722.00
1970-01-01 00:00:00.000000017   780,991.00
1970-01-01 00:00:00.000000018   778,387.00
1970-01-01 00:00:00.000000019   772,583.00
1970-01-01 00:00:00.000000020   706,649.00
1970-01-01 00:00:00.000000021   691,484.00
1970-01-01 00:00:00.000000022   723,714.00
1970-01-01 00:00:00.000000023   686,791.00
1970-01-01 00:00:00.000000024   711,485.00
1970-01-01 00:00:00.000000025   652,176.00
1970-01-01 00:00:00.000000026   716,505.00
1970-01-01 00:00:00.000000027   702,570.00
1970-01-01 00:00:00.000000028   695,346.00
1970-01-01 00:00:00.000000029   682,927.00
Name: difference, dtype: float64

In [123]:
type(df_clean[:30]['difference'] / np.timedelta64(1, 's'))
s = df_clean['difference'] / np.timedelta64(1, 's')
df_clean['duration'] = df_clean['difference'] / np.timedelta64(1, 's')
s.sum()

15618918979.0

In [124]:
df_clean['duration']

1970-01-01 00:00:00.000000000   1,823,653.00
1970-01-01 00:00:00.000000001   1,365,104.00
1970-01-01 00:00:00.000000002   1,361,762.00
1970-01-01 00:00:00.000000003   1,321,510.00
1970-01-01 00:00:00.000000004   1,089,009.00
                                    ...
1970-01-01 00:00:00.000149995   59,588.00
1970-01-01 00:00:00.000149996   81,231.00
1970-01-01 00:00:00.000149997   97,971.00
1970-01-01 00:00:00.000149998   98,249.00
1970-01-01 00:00:00.000149999   97,911.00
Name: duration, Length: 148935, dtype: float64

In [125]:
df_clean.isnull().sum()

Bearer Id                         0
Start                             0
Start ms                          0
End                               0
End ms                            0
Dur. (ms)                         0
IMSI                              0
MSISDN/Number                     0
IMEI                              0
Last Location Name                0
Avg RTT DL (ms)                   0
Avg RTT UL (ms)                   0
Avg Bearer TP DL (kbps)           0
Avg Bearer TP UL (kbps)           0
DL TP < 50 Kbps (%)               0
50 Kbps < DL TP < 250 Kbps (%)    0
250 Kbps < DL TP < 1 Mbps (%)     0
DL TP > 1 Mbps (%)                0
UL TP < 10 Kbps (%)               0
10 Kbps < UL TP < 50 Kbps (%)     0
50 Kbps < UL TP < 300 Kbps (%)    0
UL TP > 300 Kbps (%)              0
Activity Duration DL (ms)         0
Activity Duration UL (ms)         0
Dur. (ms).1                       0
Handset Manufacturer              0
Handset Type                      0
Nb of sec with Vol DL < 6250B     0
Nb of sec with Vol UL < 1250B     0
Social Media DL (Bytes)           0
Social Media UL (Bytes)           0
Google DL (Bytes)                 0
Google UL (Bytes)                 0
Email DL (Bytes)                  0
Email UL (Bytes)                  0
Youtube DL (Bytes)                0
Youtube UL (Bytes)                0
Netflix DL (Bytes)                0
Netflix UL (Bytes)                0
Gaming DL (Bytes)                 0
Gaming UL (Bytes)                 0
Other DL (Bytes)                  0
Other UL (Bytes)                  0
Total UL (Bytes)                  0
Total DL (Bytes)                  0
difference                        0
duration                          0
dtype: int64

In [126]:
df_clean.describe()

        Start ms     End ms  ...                 difference     duration
count 148,935.00 148,935.00  ...  148935                    148,935.00
mean  499.25     498.68      ...  1 days 05:07:50.708557426 104,870.71
std   288.56     288.09      ...  0 days 22:31:03.419319362 81,063.42
min   0.00       0.00        ...  0 days 01:59:03           7,143.00
25%   250.00     251.00      ...  0 days 16:04:44           57,884.00
50%   499.00     500.00      ...  1 days 00:00:00           86,400.00
75%   749.00     750.00      ...  1 days 12:51:40.500000    132,700.50
max   999.00     999.00      ...  21 days 12:28:57          1,859,337.00

[8 rows x 41 columns]

In [127]:
# Function to calculate missing values by column
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # dtype of missing values
    mis_val_dtype = df.dtypes

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, mis_val_dtype], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values', 2: 'Dtype'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)

    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

def format_float(value):
    return f'{value:,.2f}'

def find_agg(df:pd.DataFrame, agg_column:str, agg_metric:str, col_name:str, top:int, order=False )->pd.DataFrame:
    
    new_df = df.groupby(agg_column)[agg_column].agg(agg_metric).reset_index(name=col_name).\
                        sort_values(by=col_name, ascending=order)[:top]
    
    return new_df

def convert_bytes_to_megabytes(df, bytes_data):
    """
        This function takes the dataframe and the column which has the bytes values
        returns the megabytesof that value
        
        Args:
        -----
        df: dataframe
        bytes_data: column with bytes values
        
        Returns:
        --------
        A series
    """
    
    megabyte = 1*10e+5
    df[bytes_data] = df[bytes_data] / megabyte
    
    return df[bytes_data]

pd.options.display.float_format = format_float

In [128]:
byte_columns = [ 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

# for column in byte_columns:
#   df_clean[column] = convert_bytes_to_megabytes(df,column)

In [135]:
for col in byte_columns:
  print(col[:-8])

Social Media DL
Social Media UL
Google DL
Google UL
Email DL
Email UL
Youtube DL
Youtube UL
Netflix DL
Netflix UL
Gaming DL
Gaming UL
Other DL
Other UL
Total UL
Total DL

In [142]:
for col in byte_columns:
  df_clean.rename(columns={col:col[:-8]}, inplace=True)

In [143]:
df_clean.head()

                                          Bearer Id  ...     duration
1970-01-01 00:00:00.000000000  13114483460844900352  ... 1,823,653.00
1970-01-01 00:00:00.000000001  13114483482878900224  ... 1,365,104.00
1970-01-01 00:00:00.000000002  13114483484080500736  ... 1,361,762.00
1970-01-01 00:00:00.000000003  13114483485442799616  ... 1,321,510.00
1970-01-01 00:00:00.000000004  13114483499480700928  ... 1,089,009.00

[5 rows x 47 columns]

In [144]:
Users = df_clean.groupby(['IMSI'])

In [154]:
xDR_users = df_clean['IMSI'].value_counts()
session_duration = Users['Dur. (ms)'].sum()
Total_session_UL = Users['Total UL'].sum()
Total_session_DL = Users['Total DL'].sum()
Total_session_mb = Users['Total DL'].sum() + Users['Total UL'].sum()
Total_Social_mb = Users['Social Media DL'].sum() + Users['Social Media UL'].sum()
Total_Google_mb = Users['Google DL'].sum() + Users['Google UL'].sum()
Total_Email_mb= Users['Email DL'].sum() + Users['Email UL'].sum()
Total_Youtube_mb = Users['Youtube DL'].sum() + Users['Youtube UL'].sum()
Total_Netflix_mb = Users['Netflix DL'].sum() + Users['Netflix UL'].sum()
Total_Gaming_mb = Users['Gaming DL'].sum() + Users['Gaming UL'].sum()
Total_Other_mb= Users['Other DL'].sum() + Users['Other UL'].sum()

In [155]:
sessions_df = pd.concat([xDR_users,
                 session_duration,
                 Total_session_UL,
                 Total_session_DL,
                 Total_session_mb,
                 Total_Social_mb,
                 Total_Google_mb,
                 Total_Email_mb,
                 Total_Youtube_mb,
                 Total_Netflix_mb,
                 Total_Gaming_mb,
                 Total_Other_mb], axis="columns", sort=True)
sessions_df.head()

                        IMSI  Dur. (ms)  Total UL  ...     5      6        7
204,047,108,489,451.00  1    869,844.00 60.46      ... 28.85 43.07  401.36
204,080,810,288,647.00  1    877,385.00 37.30      ... 26.59 178.05 470.53
208,200,101,016,140.00  1    86,019.00  53.79      ... 31.83 9.12   515.97
208,200,101,127,285.00  1    86,254.00  33.58      ... 27.79 344.11 309.61
208,200,101,148,045.00  2    573,923.00 71.33      ... 57.34 917.68 1,079.44

[5 rows x 12 columns]

In [157]:
sessions_df = sessions_df.rename(columns={0: 'Total sessions(mb) '})
sessions_df = sessions_df.rename(columns={1: 'Social media total volume '})
sessions_df = sessions_df.rename(columns={2: 'Google total volume '})
sessions_df = sessions_df.rename(columns={3: 'Email total volume '})
sessions_df = sessions_df.rename(columns={4: 'Youtube total volume '})
sessions_df = sessions_df.rename(columns={5: 'Netflix total volume '})
sessions_df = sessions_df.rename(columns={6: 'Gaming total volume '})
sessions_df = sessions_df.rename(columns={7: 'Other sources'})
sessions_df = sessions_df.rename(columns={'IMSI': 'number of sessions'})

In [158]:
sessions_df.head()

                        number of sessions  ...  Other sources
204,047,108,489,451.00  1                   ... 401.36
204,080,810,288,647.00  1                   ... 470.53
208,200,101,016,140.00  1                   ... 515.97
208,200,101,127,285.00  1                   ... 309.61
208,200,101,148,045.00  2                   ... 1,079.44

[5 rows x 12 columns]

In [160]:
df_clean.head()

                                          Bearer Id  ...     duration
1970-01-01 00:00:00.000000000  13114483460844900352  ... 1,823,653.00
1970-01-01 00:00:00.000000001  13114483482878900224  ... 1,365,104.00
1970-01-01 00:00:00.000000002  13114483484080500736  ... 1,361,762.00
1970-01-01 00:00:00.000000003  13114483485442799616  ... 1,321,510.00
1970-01-01 00:00:00.000000004  13114483499480700928  ... 1,089,009.00

[5 rows x 47 columns]

In [175]:
scaled_sessions_df = (sessions_df-sessions_df.min())/(sessions_df.max()-sessions_df.min())
scaled_sessions_df.head()

                        number of sessions  ...  Other sources
204,047,108,489,451.00 0.00                 ... 0.05
204,080,810,288,647.00 0.00                 ... 0.06
208,200,101,016,140.00 0.00                 ... 0.06
208,200,101,127,285.00 0.00                 ... 0.04
208,200,101,148,045.00 0.06                 ... 0.13

[5 rows x 12 columns]

In [177]:
# Fix outlier function
def fix_outlier(df, column):
    df[column] = np.where(df[column] > df[column].quantile(0.95), df[column].median(),df[column])
    
    return df[column]

In [178]:
#fixing outliers for scaled table
for i in scaled_sessions_df.columns.tolist():
    scaled_sessions_df[i]=fix_outlier(scaled_sessions_df,i)

#### Save to dataframe to continue with EDA

In [186]:
# def save_csv(df):
#   df.to_csv(f'/content/{df.columns.name}')


# save_csv(df_clean)
# save_csv(sessions_df)
# save_csv(scaled_sessions_df)
df_clean.to_csv('/content/clean_df.csv')
sessions_df.to_csv('/content/sessions_df.csv')
scaled_sessions_df.to_csv('/content/scaled_sessions_df.csv')